{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "indent": ["error", "tab", { "SwitchCase": 1 }]
    }
}